<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <!-- Left: Toggle + Brand -->
    <div class="d-flex align-items-center">
      <!-- Hamburger toggle -->
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Brand -->
      <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/">
        <span class="ms-1">CleanArch System</span>
      </a>
    </div>

    <!-- Right: My Account + Logout -->
    <div class="d-none d-md-flex align-items-center">
      <a class="btn btn-outline-primary me-2" routerLink="/account">
        <i class="fa fa-user-circle me-1"></i> My Account
      </a>
      <button class="btn btn-outline-danger" (click)="onLogout()">
        <i class="fa fa-sign-out me-1"></i> Logout
      </button>
    </div>

    <!-- Offcanvas sidebar -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" #offcanvas>
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">          
          <li class="nav-item">
            <a class="nav-link" routerLink="/batchserial" routerLinkActive="active" data-bs-dismiss="offcanvas">
              <i class="fa fa-folder me-1"></i> Batch Serial
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/joborder" routerLinkActive="active" data-bs-dismiss="offcanvas">
              <i class="fa fa-tv me-1"></i> Job Order
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product" routerLinkActive="active" data-bs-dismiss="offcanvas">
              <i class="fa fa-cube me-1"></i> Product
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user" routerLinkActive="active" data-bs-dismiss="offcanvas">
              <i class="fa fa-user me-1"></i> Users
            </a>
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link text-primary" routerLink="/account" data-bs-dismiss="offcanvas">
              <i class="fa fa-user-circle me-1"></i> My Account
            </a>
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link text-danger" (click)="onLogout()" style="cursor: pointer">
              <i class="fa fa-sign-out me-1"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>